@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Shared.Clients
@model List<ProductReadDto>

<!-- Related -->
<section class="__section __featured mb-5">
    <div class="__top __container">
        <h1>Sản phẩm tương tự</h1>
    </div>

    <div class="__product-center __container">
        @foreach (ProductReadDto product in Model)
        {
            <div class="__product">
                <div class="__product-header">
                    <img src="@product.thumbnailUri" alt="@product.thumbnailName">

                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.id">
                        <ul class="icons">
                            <span><i class='bx bxs-show show-icons'></i></span>
                        </ul>
                    </a>
                </div>
                <div class="__product-footer">
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.id">
                        <h3 class="__break-word-dots">@product.name</h3>
                    </a>

                    <div class="__rating">
                    @for (int i = 0; i < product.averageRate; i++)
                    {
                        <i class="bx bxs-star"></i>
                    }

                    @for (int i = 0; i < 5 - product.averageRate; i++)
                    {
                        <i class="bx bx-star"></i>
                    }
                    </div>
                    
                    <h4 class="__price">@(product.prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</h4>
                </div>
            </div>
        }
    </div>
</section>