@using Shared.Clients
@model ProductDetailViewModel;
@{
    ViewData["Title"] = Model.product.name;
}

<section class="__section __product-detail">
    <div class="__details __container-md">
        <div class="__left">
            <div class="__main">
                <img src="@Model.product.images.FirstOrDefault().uri" alt="@Model.product.images.FirstOrDefault().name">
            </div>
            <div class="__thumbnails">
                @foreach (ImageReadDto image in Model.product.images)
                {
                   <div class="__thumbnail">
                        <img src="@image.uri" alt="@image.name">
                    </div>   
                }
            </div>
        </div>
        <div class="__right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-body">
                    <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index" asp-route-category="TatCaSanPham">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.product.name</li>
                </ol>
            </nav>
            <h1>@Model.product.name</h1>
            <div class="__rating-sold">
                <div class="__rating">
                    @for (int i = 0; i < @Model.product.averageRate; i++)
                    {
                        <i class="bx bxs-star"></i>
                    }

                    @for (int i = 0; i < 5 - @Model.product.averageRate; i++)
                    {
                        <i class="bx bx-star"></i>
                    }
                </div>
                <div class="__divider">|</div>
                <div class="__sold">
                    Đã bán: 0  - ĐỂ TẠM
                </div>
            </div>
            <div class="__price-detail">
                <div class="__final-price">@Model.product.prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))đ</div>
            </div>
            <form method="post" id="addToCartForm" asp-controller="Cart" asp-action="Add">
                <input hidden value="@Model.product.id" name="id" />

                <div style="display: flex;">
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus">
                        <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus">
                    </div>
                    <div style='height: 41px; align-self: center; color: #939191; font-size: 1.3rem; margin-left: 1.5rem;'>(Đơn vị: Combo / Kg)</div>
                </div>

                <div class="__form">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <button type="submit" class="_btn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="__highlight-services">
                <hr>
                <div class="__highlight-services-items">
                    <div class="card">
                        <img src="~/images/icon1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Cam kết sản phẩm luôn giữ được độ tươi ngon</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/images/icon2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Đặt hàng Online nhanh chóng và tiện lợi</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/images/icon3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giao hàng từ 1-5 tiếng sau khi đặt hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="__section-feature __container-md">
  <ul class="nav nav-tabs __nav-tab" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          @*{{ count($errors) == 0 ? 'active' : '' }}*@
          <button class="nav-link" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">Mô tả sản phẩm</button>
      </li>
      <li class="nav-item" role="presentation">
          @*{{ count($errors) > 0 ? 'active' : '' }}*@
        <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="true">Bình luận</button>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
      @*{{ count($errors) == 0 ? 'active' : '' }}*@
      <div class="tab-pane fade show p-3 __product-detail-content" id="detail" role="tabpanel" aria-labelledby="detail-tab">
          @Model.product.description
      </div>
      @*{{ count($errors) > 0 ? 'active' : '' }}*@
      <div class="tab-pane fade show p-3 __product-detail-content" id="comment" role="tabpanel" aria-labelledby="comment-tab">
        <div class="">
            <div class="blog-comment">
                @*<form class="clearfix" method="post" action="{{ route('addComment') }}">
                    @csrf
                    <input hidden value="{{ $detail->id }}" name="id" />
                    <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                    <div class="post-comments">
                        <div class="input-group mb-3">
                            <div id="customerNameText" style="padding: 0.65rem 0.75rem!important; font-size: 1.4rem!important;" class="input-group-text">Bình luận với tên: </div>
                            <input type="text" name="name" style="padding: 0.65rem 0.75rem!important; font-size: 1.4rem!important;" class="form-control" placeholder="Nhập tên..." value="{{Auth::guard('web')->user()->fullname ?? ''}}">
                        </div>
                        <input type="text" name="content" style="padding: 0.65rem 0.75rem!important; font-size: 1.4rem!important;" class="form-control" placeholder="Nhập nội dung bình luận...">

                        <div class="d-flex justify-content-between flex-row-reverse">
                            <button type="submit" class="_btn _submit-comment mt-3" style="font-size: 1.4rem!important; width: auto">Gửi</button>
                            @if($errors)
                                <div class="text-danger pt-2">
                                    {{ $errors->first() }}
                                </div>
                            @endif
                        </div>
                    </div>
                </form>
                <ul class="comments">
                    @foreach($detail->comment as $c)
                    <li class="clearfix">
                        @if($c->reply_to == 0)
                        <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                        <div class="post-comments">
                            <p class="meta">{{ $c->name }} bình luận lúc {{ $c->created_at->format('H:i d/m/Y') }}: {!! $isAdmin ? '<i class="float-end"><a class="__reply-button" role="button"><small>Trả lời</small></a></i>' : '' !!} </p>
                            <p>
                                {{ $c->content }}
                            </p>
                        </div>
                        <ul class="comments">
                            @foreach($detail->comment as $r)
                                @if($r->reply_to == $c->id)
                                <li class="clearfix">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta">{{ $r->name }} trả lời lúc {{ $r->created_at->format('H:i d/m/Y') }}: </p>
                                        <p>
                                            {{ $r->content }}
                                        </p>
                                    </div>
                                </li>
                                @endif
                            @endforeach
                            <form style="display: none" method="post" action="{{ route('replyComment') }}"">
                                @csrf
                                <input hidden value="{{ $detail->id }}" name="product_id" />
                                <input hidden value="{{ $c->id }}" name="comment_id" />
                                <input hidden value="{{ $isAdmin ? Auth::guard('admin')->user()->fullname : '' }}" name="name" />
                                <img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
                                <div class="post-comments">
                                    <div class="row">
                                        <div style="align-self: center;" class="col-12 col-sm-10">
                                            <input type="text" name="content" style="padding: 0.65rem 0.75rem!important; font-size: 1.4rem!important;" class="form-control enter-event" placeholder="Nhập nội dung bình luận...">
                                        </div>

                                        <div class="col-12 col-sm-2 d-flex flex-row-reverse">
                                            <button type="button" class="_btn _submit-comment mt-3 replyCommentSubmit" style="font-size: 1.4rem!important; width: auto">Gửi</button>
                                        </div>

                                        <div class="replyCommentError text-danger"></div>
                                    </div>
                                </div>
                            </form>
                        </ul>
                        @endif
                    </li>
                    @endforeach
                </ul>*@
            </div>
        </div>
    </div>
  </div>
</section>

<div class="__wrapper" id="toast_success">
  <div id="toast">
    <div class="container-1">
        <i class='bx bx-cart'></i>
    </div>
    <div class="container-2 my-2">
        <p class="toast-sta"></p>
        <p class="toast-msg"></p>
    </div>
    <button id="close">
        <i class='bx bx-x'></i>
    </button>
  </div>
</div>
<script src="~/js/quantity-btn.js"></script>
