@using Shared.Clients
@model ProductDetailViewModel;
@{
    ViewData["Title"] = Model.Product.Name;
    var relativeSize = Int32.Parse(ViewData["Size"].ToString());
}

<section class="__section __product-detail">
    <div class="__details __container-md">
        <div class="__left">
            <div class="__main">
                <img src="@Model.Product.Images.FirstOrDefault().Uri" alt="@Model.Product.Images.FirstOrDefault().Name">
            </div>
            <div class="__thumbnails">
                @foreach (ImageReadDto image in Model.Product.Images)
                {
                   <div class="__thumbnail">
                        <img src="@image.Uri" alt="@image.Name">
                    </div>   
                }
            </div>
        </div>
        <div class="__right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-body">
                    <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index" asp-route-category="TatCaSanPham">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
                </ol>
            </nav>
            <h1>@Model.Product.Name</h1>
            <div class="__rating-sold">
                <div class="__rating">
                    @for (int i = 0; i < @Model.Product.AverageRate; i++)
                    {
                        <i class="bx bxs-star"></i>
                    }

                    @for (int i = 0; i < 5 - @Model.Product.AverageRate; i++)
                    {
                        <i class="bx bx-star"></i>
                    }
                </div>
                <div class="__divider">|</div>
                <div class="__sold">
                    Đã bán: 0  - ĐỂ TẠM
                </div>
            </div>
            <div class="__price-detail">
                <div class="__final-price">@Model.Product.Prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))đ</div>
            </div>
            <form method="post" id="addToCartForm" asp-controller="Cart" asp-action="Add">
                <input hidden value="@Model.Product.Id" name="id" />

                <div class="d-flex">
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus">
                        <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus">
                    </div>
                    <div class="__unit">(Đơn vị: Combo / Kg)</div>
                </div>

                <div class="__form">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <button type="submit" class="_btn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="__highlight-services">
                <hr>
                <div class="__highlight-services-items">
                    <div class="card">
                        <img src="~/images/icon1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Cam kết sản phẩm luôn giữ được độ tươi ngon</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/images/icon2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Đặt hàng Online nhanh chóng và tiện lợi</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/images/icon3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giao hàng từ 1-5 tiếng sau khi đặt hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="__section-feature __container-md">
    <ul class="nav nav-tabs __nav-tab" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">Chi tiết sản phẩm</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-3 __product-detail-content" id="detail" role="tabpanel" aria-labelledby="detail-tab">
            <div>@Model.Product.Description</div>
            <div>
                <button id="rating-product" class="_btn __product-detail-rating">Đánh giá sản phẩm</button>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("RelativeProducts", new { id = Model.Product.Id, size = relativeSize })

<partial name="../Partial/_Popup.cshtml">
<partial name="../Partial/_Toast.cshtml">