@using Shared.Clients
@model ProductDetailViewModel;
@{
    ViewData["Title"] = Model.product.name;
}

<section class="__section __product-detail">
    <div class="__details __container-md">
        <div class="__left">
            <div class="__main">
                <img src="@Model.product.images.FirstOrDefault().uri" alt="@Model.product.images.FirstOrDefault().name">
            </div>
            <div class="__thumbnails">
                @foreach (ImageReadDto image in Model.product.images)
                {
                   <div class="__thumbnail">
                        <img src="@image.uri" alt="@image.name">
                    </div>   
                }
            </div>
        </div>
        <div class="__right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-body">
                    <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index" asp-route-category="TatCaSanPham">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.product.name</li>
                </ol>
            </nav>
            <h1>@Model.product.name</h1>
            <div class="__rating-sold">
                <div class="__rating">
                    @for (int i = 0; i < @Model.product.averageRate; i++)
                    {
                        <i class="bx bxs-star"></i>
                    }

                    @for (int i = 0; i < 5 - @Model.product.averageRate; i++)
                    {
                        <i class="bx bx-star"></i>
                    }
                </div>
                <div class="__divider">|</div>
                <div class="__sold">
                    Đã bán: 0  - ĐỂ TẠM
                </div>
            </div>
            <div class="__price-detail">
                <div class="__final-price">@Model.product.prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))đ</div>
            </div>
            <form method="post" id="addToCartForm" asp-controller="Cart" asp-action="Add">
                <input hidden value="@Model.product.id" name="id" />

                <div style="display: flex;">
                    <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus">
                        <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                        <input type="button" value="+" class="plus">
                    </div>
                    <div style='height: 41px; align-self: center; color: #939191; font-size: 1.3rem; margin-left: 1.5rem;'>(Đơn vị: Combo / Kg)</div>
                </div>

                <div class="__form">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <button type="submit" class="_btn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="__highlight-services">
                <hr>
                <div class="__highlight-services-items">
                    <div class="card">
                        <img src="~/images/icon1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Cam kết sản phẩm luôn giữ được độ tươi ngon</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/images/icon2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Đặt hàng Online nhanh chóng và tiện lợi</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="~/images/icon3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giao hàng từ 1-5 tiếng sau khi đặt hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="__section-feature __container-md">
    <ul class="nav nav-tabs __nav-tab" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">Chi tiết sản phẩm</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-3 __product-detail-content" id="detail" role="tabpanel" aria-labelledby="detail-tab">
            <div>@Model.product.description</div>
            <div>
                <button id="rating-product" class="_btn" style="margin-bottom: 10px; background-color: #009432">Đánh giá sản phẩm</button>
            </div>
        </div>
    </div>
</section>

<!-- Related -->
<section class="__section __featured mb-5">
    <div class="__top __container">
        <h1>Sản phẩm tương tự</h1>
    </div>

    <div class="__product-center __container">
        @foreach (ProductReadDto product in Model.relative)
        {
            <div class="__product">
                <div class="__product-header">
                    <img src="@product.thumbnailUri" alt="@product.thumbnailName">

                    @* @if ($r->discount)
                    <img style="width: 7rem; height: 5rem; position: absolute; top: 1%; right: 2%" src="{{ asset('images/sales.png') }}" alt="discount">
                    <span style="position: absolute; top: 6.5%; right: 9%; color: red; font-size: 1.4rem;">-{{$r->discount}}%</span>
                    @endif *@

                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.id">
                        <ul class="icons">
                            <span><i class='bx bxs-show show-icons'></i></span>
                        </ul>
                    </a>
                </div>
                <div class="__product-footer">
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.id">
                        <h3 class="__break-word-dots">@product.name</h3>
                    </a>

                    <div class="__rating">
                    @for (int i = 0; i < product.averageRate; i++)
                    {
                        <i class="bx bxs-star"></i>
                    }

                    @for (int i = 0; i < 5 - product.averageRate; i++)
                    {
                        <i class="bx bx-star"></i>
                    }
                    </div>
                    
                    <h4 class="__price">@(product.prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</h4>
                </div>
            </div>
        }
    </div>
</section>

<!--    Popup rating    -->
<div class="__popup-rating" data-href="Product/Rating" data-product="@Model.product.id">
    <span class="helper"></span>
    <div>
        <div class="__popup-close __popup-rating-close">&times;</div>

        <div class="fs-2 fw-bold">Đánh giá sản phẩm</div>
        <!-- Rating Stars Box -->
        <div class='__rating-stars'>
            <ul id='stars'>
                <li class='__star' title='Tệ' data-value='1'>
                    <i class='bx bx-star'></i>
                </li>
                <li class='__star' title='Trung bình' data-value='2'>
                    <i class='bx bx-star'></i>
                </li>
                <li class='__star' title='Tốt' data-value='3'>
                    <i class='bx bx-star'></i>
                </li>
                <li class='__star' title='Rất tốt' data-value='4'>
                    <i class='bx bx-star'></i>
                </li>
                <li class='__star' title='Xuất sắc' data-value='5'>
                    <i class='bx bx-star'></i>
                </li>
            </ul>
        </div>
        <button class="_btn _submit-rating">Lưu đánh giá</button>
    </div>
</div>

<div class="__wrapper" id="toast_success">
  <div id="toast">
    <div class="container-1">
        <i class='bx bx-cart'></i>
    </div>
    <div class="container-2 my-2">
        <p class="toast-sta"></p>
        <p class="toast-msg"></p>
    </div>
    <button id="close">
        <i class='bx bx-x'></i>
    </button>
  </div>
</div>

<script src="~/js/quantity-btn.js"></script>
<script src="~/js/popup-rating.js"></script>
