@using Shared.Clients
@model ProductListViewModel;
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    var currentCategory = ViewData["CurrentCategory"].ToString();
}

<!-- All Products -->
<div class="container __section __product-container">
    <div class="row">
        <div class="mb-3 col-lg-3 col-sm-5 col-12 __category-block">
            <div class="card mb-3">
                @await Component.InvokeAsync("Categories", new { currentCategory = currentCategory })
            </div>

            <div class="col-lg-9 col-sm-7 col-12">
              <div class="row">
                  <section class="__all-products" id="products">
                      <div class="__top">
                          <h1>Tất cả sản phẩm</h1>
                      </div>

                      <div class="__product-center px-3">
                        @foreach (ProductReadDto product in Model.Products)
                        {
                            <div class="__product">
                                <div class="__product-header">
                                    <img src="@product.ThumbnailUri" alt="@product.ThumbnailName">

                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                        <ul class="icons">
                                            <span><i class='bx bxs-show show-icons'></i></span>
                                        </ul>
                                    </a>
                                </div>
                                <div class="__product-footer">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                        <h3 class="__break-word-dots">@product.Name</h3>
                                    </a>

                                    <div class="__rating">
                                        @for (int i = 0; i < product.AverageRate; i++)
                                        {
                                            <i class="bx bxs-star"></i>
                                        }

                                        @for (int i = 0; i < 5 - product.AverageRate; i++)
                                        {
                                            <i class="bx bx-star"></i>
                                        }
                                    </div>

                                    <h4 class="__price">@(product.Prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</h4>

                                </div>
                            </div>
                        }
                      </div>
                      
                      <partial name="../Partial/_Pagination.cshtml" for="@Model.Pagination">
                  </section>
              </div>
          </div>
    </div>
</div>
