@page
@using Shared.Clients
@model CustomerSite.Pages.Product.Featured
@{
    ViewData["Title"] = "Sản phẩm đặc trưng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container __section">
    <div>
        <h1>Sản phẩm đặc trưng</h1>
        @if(Model.ProductList is not null)
        {
            <div class="m-5">
                <section id="products">
                    <div class="__product-center">
                        @if (Model.ProductList.Products.Count > 0)
                        {
                            @foreach (ProductReadDto product in Model.ProductList.Products)
                            {
                                <div class="__product">
                                    <div class="__product-header">
                                        <img src="@product.ThumbnailUri" alt="@product.ThumbnailName">

                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                            <ul class="icons">
                                                <span><i class='bx bxs-show show-icons'></i></span>
                                            </ul>
                                        </a>
                                    </div>
                                    <div class="__product-footer">
                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                            <h3 class="__break-word-dots">@product.Name</h3>
                                        </a>
                                        <div class="__rating">
                                        
                                        @for (int i = 0; i < product.AverageRate; i++)
                                        {
                                            <i class="bx bxs-star"></i>
                                        }

                                        @for (int i = 0; i < 5 - product.AverageRate; i++)
                                        {
                                            <i class="bx bx-star"></i>
                                        }

                                        </div>

                                        <h4 class="__price">@(product.Prices.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</h4>

                                    </div>
                                </div>
                            }
                        }
                    </div>

                    @if (Model.ProductList.TotalPage > 1)
                    {
                        <div class="__pagination">
                            <div class="">

                                @if (Model.ProductList.CurrentPage != 1)
                                {
                                    @*Left arrow*@
                                    <a asp-controller="Product" asp-action="Featured" asp-route-page="@(Model.ProductList.CurrentPage - 1)" class="btn shadow-none p-0">
                                        <span>
                                            <i class='bx bx-left-arrow-alt'></i>
                                        </span>
                                    </a>            
                                }

                                @{
                                    double rank = (double)Model.ProductList.CurrentPage / 5;
                                    var from = -2;
                                    var to = 2;

                                    if (rank == 0.2)
                                    {
                                        from = 0;
                                        to = 4;
                                    }
                                    else if (rank == 0.4)
                                    {
                                        from = -1;
                                        to = 3;
                                    }

                                    for(var i = from; i <= to; i++)
                                    {
                                        @if (Model.ProductList.TotalPage != 1)
                                        {
                                            var pageNumber = i + (rank * 5);
                                            if (pageNumber - 1 == Model.ProductList.TotalPage) break;

                                            <a class="btn shadow-none p-0 @(pageNumber == Model.ProductList.CurrentPage ? "disabled" : "")" asp-controller="Product" asp-action="Featured" asp-route-page="@pageNumber">
                                                <span>
                                                    @pageNumber
                                                </span>
                                            </a>
                                        }
                                    }
                                }

                                @if (Model.ProductList.CurrentPage != Model.ProductList.TotalPage && Model.ProductList.TotalPage > 0)
                                {
                                    @*Right arrow*@
                                    <a class="btn shadow-none p-0" asp-controller="Product" asp-action="Featured" asp-route-page="@(Model.ProductList.CurrentPage + 1)">
                                        <span>
                                            <i class='bx bx-right-arrow-alt'></i>
                                        </span>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </section>
            </div>
        }
    </div>
</div>