@model PaginationViewModel;

@if (Model.TotalPage > 1)
{
    <div class="__pagination">
        <div class="">

            @if (Model.CurrentPage != 1)
            {
                @*Left arrow*@
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-category="@Model.Category" asp-route-page="@(Model.CurrentPage - 1)" class="btn shadow-none p-0">
                    <span>
                        <i class='bx bx-left-arrow-alt'></i>
                    </span>
                </a>            
            }

            @{
                double rank = (double)Model.CurrentPage / 5;
                var from = -2;
                var to = 2;

                if (rank == 0.2)
                {
                    from = 0;
                    to = 4;
                }
                else if (rank == 0.4)
                {
                    from = -1;
                    to = 3;
                }

                for(var i = from; i <= to; i++)
                {
                    @if (Model.TotalPage != 1)
                    {
                        var pageNumber = i + (rank * 5);
                        if (pageNumber - 1 == Model.TotalPage) break;

                        <a class="btn shadow-none p-0 @(pageNumber == Model.CurrentPage ? "disabled" : "")" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-category="@Model.Category" asp-route-page="@pageNumber">
                            <span>
                                @pageNumber
                            </span>
                        </a>
                    }
                }
            }

            @if (Model.CurrentPage != Model.TotalPage && Model.TotalPage > 0)
            {
                @*Right arrow*@
                <a class="btn shadow-none p-0" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-category="@Model.Category" asp-route-page="@(Model.CurrentPage + 1)">
                    <span>
                        <i class='bx bx-right-arrow-alt'></i>
                    </span>
                </a>
            }
        </div>
    </div>
}